@charset "UTF-8";
/* CSS Document */
body,div,ul,li,a,h1,h2,h3,h4,h5,h6{
	margin:0;padding:0;list-style-type:none;text-decoration:none;border:0;
}
body,a{
	font-family:'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
	background:#f7fafc;
	color:#555;
}
.zhihu{
	height:590px;
	width:300px;
	margin:0 auto;
}
.zhihu .top{
	height:122px;
}
.zhihu .top h1{
	width:160px;
	height:74px;
	background:url(../images/logo.png);
	margin:0 auto;
}
.zhihu .top h2{
	font-size:18px;
	font-weight:400;
	text-align:center;
	margin-top:26px;
	
}
.zhihu .bottom{
	height:35px;
	font-size:18px;
	margin-top:20px;
}
.zhihu .bottom .art{
	width:144px;
	height:35px;
	margin:0 auto;
	position:relative;
}
.zhihu .bottom a{
	display:block;
	float:left;
	width:72px;
	height:35px;
	text-align:center;
	line-height:35px;
	opacity: .7;
}
.zhihu .bottom a:hover{
	opacity:1;
}
.zhihu .bottom .art .active{
	color:#0f88eb;
}
.zhihu .bottom .art .udline{
	height:2px;
	width:2.4em;
	margin:0 .8em;
	background:#0f88ed;
	position:absolute;
	bottom:0;
	left:0;
	transition: left .15s ease-in;
}
.zhihu .dl{
	display:none;
}
.zhihu .nr{
	margin-top:15px;
}
.zhihu .nr .input{
	height:47px;
	position:relative;	
}
.zhihu .nr .input label{
	color:#F00;
	position:absolute;
	right:0;
	top:0;
	line-height:47px;
	font-size:13px;
	opacity:0;

}
.zhihu input{
	width:100%;
	height:100%;
	font-size:15px;
	text-indent:5px;
}
.zhihu .submit{
	height:47px;
	margin-top:15px;
}
.zhihu .submit input{
	background:#0f88ed;
	border:0;
	color:#fff;
	border-radius:5px;
	text-indent:0;
}
.zhihu .submit input:hover{
	opacity: .7;
	cursor: pointer;
}